.contenedor{
  max-width: 600rem;
  text-align: center;
}

.align-items-center{
  margin: 1em;

}

.carousel.pointer-event{
  max-width: 70%;
}

.carousel-inner{
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 2em;
}

.carousel{
  position: relative;
  max-width: 100%;
  width: 50rem;
  padding: 3rem;

}

.w-100{
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.a{
  color: rgb(255, 255, 255);
}

.btn{
  background:rgb(45, 45, 45)

}

.proyectos{
  min-height: 50rem;
}
